* { /* Styles for all elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AILERON;
  src: url(Aileron-Regular.otf);
}

html {
    position:centre;
   /* min-height:5000;*/
    overflow: hidden;
    scroll-behavior: smooth;
    /* Create the parallax scrolling effect */
    color-scheme: light;
}

body {
  background-color: #00467F;
  font-family: AILERON;
  color: #8DBFE8;
}

  .title {
    font-size: 5vw;
    padding-left: 42vw;
  }


/* navigation */
              .nav-bar {
                background-color: #333;
                overflow: hidden;
              }
              
              /* links (a) */
              .nav-bar a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
              }
              
              /* hover text */
              .nav-bar a:hover {
                background-color: #ddd;
                color: black;
              }
              
              /* response colour */
              .nav-bar a.active {
                background-color: #04AA6D;
                color: white;
              }

              /* for future adjustments */
              .nav-img {
              }
              .nav-button {
              }
