* { /* Styles for all elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AILERON;
  src: url(Aileron-Regular.otf);
}

html {
    position:centre;
   /* min-height:5000;*/
    overflow: hidden;
    scroll-behavior: smooth;
    /* Create the parallax scrolling effect */
    color-scheme: light;
}

body {
  background-color: #00467F;
  font-family: AILERON;
  color: #8DBFE8;
}

  .title {
    font-size: 5vw;
    padding-left: 42vw;
  }
