* { /* Styles for all elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AILERON;
  src: url(Aileron-Regular.otf);
}

html {
    position:centre;
   /* min-height:5000;*/
    overflow: hidden;
    scroll-behavior: smooth;
    /* Create the parallax scrolling effect */
    color-scheme: light;
}

body {
  background-color: #00467F;
  font-family: AILERON;
  color: #8DBFE8;
}

  .title {
    font-size: 5vw;
    padding-left: 2vw;
  }

  .statement {
    font-size: max(2vh, 1.5vw);
    padding: 2vw;
    top-padding: 0.5vh;
  }

  .button {
    background-color: #8DBFE8;
    color: #00467F;
    border-color: #00467F;
    border-width: 0.1vw;
    width: 50vw;
    border-radius: 25px;
    text-align: center;
    margin-left: 25vw;
  }

  .button:hover {
    background-color: #4B644A;
    box-shadow: 0 0 0 30px rgba(95, 94, 88, 0.2); 
    transition: all 200ms ease-out;
    z-index: 5;
  }

  .footer {
    height: 15vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #8DBFE8;
    color: #00467F;
  }

/* navigation */
              .nav-bar {
                background-color: #00467F;
                overflow: hidden;
                /*position*/
                height: 10vh;
              }

              /* for future adjustments */
              .nav-logo {
                max-height: 5vh;
                max-width: auto;
              }
              .nav-button {
                border-color: #4b644a;
              }
              
              /* links (a) */
              .nav-bar a {
                float: left;
                color: #8DBFE8;
                border-color: #4B644A;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
              }
              
              /* hover text */
              .nav-bar a:hover {
                background-color: #F1EFE1;
                color: black;
              }
              
              /* response colour */
              .nav-bar a.active {
                background-color: #4B644A;
                color: white;
              }
